@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    background: #ded4b6;
}

html{
   scroll-behavior: smooth;
}

.header{
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 2px 0;
    text-align: center;
    z-index: 10;
}
.header a{
    color: #ffffff;
    text-decoration: none;
}

.capa{
    position: fixed;
    background-image: url(../imagens/barbearia.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    top: 60px;
    left: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: 2;
}
.capa h1{
    color: rgba(255, 255, 255, 0.023);
}

.conteudo{
    position: relative;
    z-index: 5;
    background: #272c60;
    color: white;
    margin-top: 320px;
    text-align: center;
    padding-top: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.conteudo img{
    width: 100px;
    margin-bottom: -15px;
}
.conteudo h2{
    margin-bottom: -10px;
}
.tTitulo{
    background: #272c60;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: -17px;
    padding-bottom: 50px;
    margin-bottom: -40px;
    position: relative;
    z-index: 5;
}
.tTitulo2{
    text-align: center;
    padding-top: 50px;
    background: #272c60;
    color: white;
    padding-bottom: 20px;
    margin-bottom: -20px;
    position: relative;
    z-index: 5;
}
.servicos img{
    width: 50px;
}
.servicos{
    max-width: 800px;
    padding-top: 20px;
    margin: auto;
    background: #272c60;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    z-index: 5;
}
.servicos > div{
    flex: 0 0 70px;
    margin: 10px;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    border-radius: 15px;
    border: 1px solid white;
    filter: drop-shadow(15px 10px 5px rgba(106, 104, 104, 0.5));
}

.Marcacao img{
    width: 50px;
}
.Marcacao{
    background: #280b6f;
    padding: 10px;
    width: 300px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}
.hora{
    padding-top: 50px;
    background: #272c60;
    position: relative;
    padding-bottom: 50px;
    margin-bottom: -30px;
    z-index: 5;
}
#marca h4{
    background: white;
    padding: 5px;
    border-radius: 15px;
}

#tectodeFale h3{
    text-align: center;
    color: white;
}

.social img{
    width: 40px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
}

.social img:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.social{
    background: #272c60;
    text-align: center;
    padding: 10px;
    padding-bottom: 50px;
    margin-bottom: -20px;
    position: relative;
    z-index: 5;
}

.fotos{
    background: #272c60;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    z-index: 5;
}

.swiper {
    width: 200px;
    height: 300px;
  }

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }

  .swiper-slide:nth-child(1n) {
    background-image: url(../fotos/foto01.jpg);
    background-position: center;
    background-size: cover;
  }

  .swiper-slide:nth-child(2n) {
    background-image: url(../fotos/foto02.jpg);
    background-position: center;
    background-size: cover;
  }

  .swiper-slide:nth-child(3n) {
    background-image: url(../fotos/foto03.jpg);
    background-position: center;
    background-size: cover;
  }

  .swiper-slide:nth-child(4n) {
    background-image: url(../fotos/foto04.jpg);
    background-position: center;
    background-size: cover;
  }

  .swiper-slide:nth-child(5n) {
    background-image: url(../fotos/foto05.jpg);
    background-position: center;
    background-size: cover;
  }

  .swiper-slide:nth-child(6n) {
    background-image: url(../fotos/foto06.jpg);
    background-position: center;
    background-size: cover;
  }

  .swiper-slide:nth-child(7n) {
    background-image: url(../fotos/foto07.jpg);
    background-position: center;
    background-size: cover;
  }

  .swiper-slide:nth-child(8n) {
    background-image: url(../fotos/foto08.jpg);
    background-position: center;
    background-size: cover;
  }

  .swiper-slide:nth-child(9n) {
    background-image: url(../fotos/foto09.jpg);
    background-position: center;
    background-size: cover;
  }

  .swiper-slide:nth-child(10n) {
    background-image: url(../fotos/foto010.jpg);
    background-position: center;
    background-size: cover;
  }

  .local{
    background: #272c60;
      position: relative;
      text-align: center;
      padding: 10px;
      z-index: 5;
  }

  iframe{
      border-radius: 15px;
      max-width: 400px;
      aspect-ratio: 16/9;
      border: none;
      filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  }

  .agendaBar{
      display: none;
      background: rgba(0, 0, 0, 0.544);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 20;
  }

  .agendabar2{
      width: 400px;
      background: #ffffff;
      text-align: center;
      border-radius: 5px;
      margin: auto;
      margin-top: 20%;
  }
  .agendabar2 h3{
      color: #280b6f;
      margin: 10px;
      padding: 10px;
  }
  .agendaBarfechar{
    background: #272c60;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  #fecha{
      border: 1px solid white;
      padding: 5px;
      border-radius: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
  }

  footer{
      background: black;
      text-align: center;
      color: white;
      padding: 10px;
  }

  @media(max-width: 600px){

    .agendabar2{
        margin: auto;
        margin-top: 50%;
        width: 300px;
    }
  }
  